{
    "go_mod_package": "",
    "workflow": {
        "folder": ".workflow",
        "name": "",
        "description": "",
        "category_comment": "category: Tools, Internet, Productivity, Uncategorised",
        "category": "",
        "bundle_id": "",
        "created_by": "",
        "web_address": "",
        "version": ""
    },
    "update": {
        "github_repo": ""
    },
    "license": {
        "type_comment": "support license https://github.com/nishanths/license",
        "type": "",
        "year": "",
        "name": ""
    }
}