{
    "go_mod_package": "github.com/xxx/ak-test",
    "workflow": {
        "folder": ".workflow",
        "name": "Ak Test",
        "description": "",
        "category_comment": "category: Tools, Internet, Productivity, Uncategorised",
        "category": "",
        "bundle_id": "com.xxx.aktest",
        "created_by": "",
        "web_address": "https://github.com/xxx/ak-test",
        "version": "0.1"
    },
    "update": {
        "github_repo": "https://github.com/xxx/ak-test"
    },
    "license": {
        "type_comment": "support license https://github.com/nishanths/license",
        "type": "mit",
        "year": "",
        "name": ""
    }
}